/**
 * main.scss
 *
 * MAIN STYLESHEET
 */
/* MIXINS
   ----------------------------- */
/* BORDER RADIUS
   ============================= */
/* BOX SHADOW
   ============================= */
/* BOX SIZING
   ============================= */
/* PREFIXER
   ============================= */
/* TRANSITIONS
   ============================= */
/* USER SELECT
   ============================= */
/* VARIABLES
   ----------------------------- */
/* COLORS
   ============================= */
/* SIZES
   ============================= */
/* OTHER
   ============================= */
/* BASE
   ----------------------------- */
/* DEFAULT STYLE OF THE PLAYER
   ============================= */
.player {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black; }
  .player video {
    width: 100%;
    height: auto; }

/* COMPOMENTS
   ----------------------------- */
/* CONTROLS
   ============================= */
.player .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #40a6e0;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(65%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#cc000000', GradientType = 0); }
  .player .controls.show {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }

/* PLAY PAUSE
   ============================= */
.player .controls .play-pause {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 28px;
  height: 28px;
  background: url(../assets/images/player/play-pause.png);
  background-size: 56px 28px;
  cursor: pointer; }

.player.playing .controls .play-pause {
  background-position: 28px 0; }

/* SETTINGS
   ============================= */
.player .controls .settings {
  position: absolute;
  top: 36px;
  right: 36px;
  width: 28px;
  height: 28px;
  background: url(../assets/images/player/settings.png);
  background-size: 28px 28px;
  cursor: pointer; }

/* PROGRESS BAR
   ============================= */
.player .controls .progress-bar {
  position: absolute;
  top: 44px;
  left: 100px;
  right: 100px;
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

/* PROGRESSBAR VIEWED
   ============================= */
