/**
 * main.scss
 *
 * MAIN STYLESHEET
 */
/* MIXINS
   ----------------------------- */
/* BORDER RADIUS
   ============================= */
/* BOX SHADOW
   ============================= */
/* BOX SIZING
   ============================= */
/* PREFIXER
   ============================= */
/* TRANSITIONS
   ============================= */
/* USER SELECT
   ============================= */
/* VARIABLES
   ----------------------------- */
/* COLORS
   ============================= */
/* SIZES
   ============================= */
/* OTHER
   ============================= */
/* BASE
   ----------------------------- */
/* DEFAULT STYLE OF THE PLAYER
   ============================= */
.player {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .player video {
    width: 100%;
    height: auto; }

/* COMPOMENTS
   ----------------------------- */
/* CONTROLS
   ============================= */
.player .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 92px;
  background: #40a6e0;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#cc000000', GradientType = 0); }
  .player .controls.show {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }

@media (max-width: 768px) {
  .player .controls {
    height: 62px; }
 }

.player .controls__wrap {
  margin: 48px; }

@media (max-width: 768px) {
  .player .controls__wrap {
    margin: 28px; }
 }

/* PLAY PAUSE
   ============================= */
.player .play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  background: url(../assets/images/player/play-pause.png);
  background-size: 128px 64px;
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-tap-highlight-color: transparent; }

.player .play-pause--svg {
  background: none; }

@media (max-width: 768px) {
  .player .play-pause {
    width: 52px;
    height: 52px;
    margin-left: -26px;
    margin-top: -26px;
    background-size: 104px 52px; }
 }

.player.show-settings .play-pause {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.player.playing .play-pause {
  background-position: -64px 0; }

@media (max-width: 768px) {
  .player.playing .play-pause {
    background-position: -52px 0; }
 }

/* ICONS
   ============================= */
.player .icons {
  position: absolute;
  top: 14px;
  right: 14px; }

/* ICON
   ============================= */
.player .icon {
  float: right;
  width: 28px;
  height: 28px;
  padding: 18px 18px;
  background-size: 28px 28px;
  background-position: 18px 18px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

.player .icon--settings {
  background-image: url(../assets/images/player/settings.png); }

.player .icon--fullscreen {
  background-image: url(../assets/images/player/fullscreen.png);
  background-size: 84px 28px; }

.player.fullscreen .icon--fullscreen {
  background-position: -38px 18px; }

@media (max-width: 768px) {
  .player .icon {
    top: 13.3333333333px;
    right: 13.3333333333px;
    padding: 8px 8px;
    background-position: 8px 8px; }
 }

.player.show-settings .icon {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

/* PROGRESS BAR
   ============================= */
.player .progress-bar {
  position: relative;
  bottom: 42px;
  width: 100%;
  height: 64px;
  cursor: pointer; }

@media (max-width: 768px) {
  .player .progress-bar {
    bottom: 42px; }
 }

.player .progress-bar__wrap {
  position: absolute;
  bottom: 16px;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  transition: 0.15s; }

.player .progress-bar__viewed {
  position: absolute;
  z-index: 2;
  display: block;
  height: 100%;
  background: #40a6e0; }

.player .progress-bar__current {
  position: absolute;
  top: 2px;
  z-index: 2;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  background: #40a6e0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s cubic-bezier(0, 1.8, 1, 1.8), left .15s ease;
  -moz-transition: all .3s cubic-bezier(0, 1.8, 1, 1.8), left .15s ease;
  transition: all .3s cubic-bezier(0, 1.8, 1, 1.8), left .15s ease; }

.player .progress-bar:hover .progress-bar__current {
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px; }

.player .progress-bar__buffer {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); }

.player .controls .progress-bar .progress-bar__viewed, .player .controls .progress-bar .progress-bar__buffer {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  transition: 0.15s; }

.player .progress-bar--clicking .progress-bar__viewed, .player .progress-bar--clicking .progress-bar__current {
  -webkit-transition: 0 !important;
  -moz-transition: 0 !important;
  transition: 0 !important; }

/**
 * components/progress-bar/spinner.scss
 * 
 * PROGRESS BAR SPINNER
 */
.progress-bar__spinner {
  position: absolute;
  top: 2px;
  z-index: 3;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  opacity: 0;
  -webkit-animation: rotator 1.4s linear infinite;
  -moz-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  -webkit-transition: left .15s, opacity 2s;
  -moz-transition: left .15s, opacity 2s;
  transition: left .15s, opacity 2s; }

.player .progress-bar--clicking .progress-bar__spinner {
  -webkit-transition: left 0, opacity 2s !important;
  -moz-transition: left 0, opacity 2s !important;
  transition: left 0, opacity 2s !important; }

.player .progress-bar:hover .progress-bar__spinner {
  width: 34px;
  height: 34px;
  margin-left: -17px;
  margin-top: -17px; }

.progress-bar__spinner circle {
  stroke: #40a6e0;
  stroke-dasharray: 120;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite;
  -moz-animation: dash 1.4s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(280deg);
    -moz-transform: rotate(280deg);
    transform: rotate(280deg); } }

@-moz-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(280deg);
    -moz-transform: rotate(280deg);
    transform: rotate(280deg); } }

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(280deg);
    -moz-transform: rotate(280deg);
    transform: rotate(280deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 120; }

  50% {
    stroke-dashoffset: 30;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg); }

  100% {
    stroke-dashoffset: 120;
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    transform: rotate(450deg); } }

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 120; }

  50% {
    stroke-dashoffset: 30;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg); }

  100% {
    stroke-dashoffset: 120;
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 120; }

  50% {
    stroke-dashoffset: 30;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg); }

  100% {
    stroke-dashoffset: 120;
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    transform: rotate(450deg); } }
