
/* CONTROLS
   ============================= */

.player .controls {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: $controls-height;

	background: $blue;
	opacity: 0;

	@include transition(opacity .8s);

	&.show {

		opacity: 1;

		@include transition(opacity .2s);

	}

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.8)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.8) 100%);
	background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 65%, rgba(0,0,0,0.8) 100%);
	background: 	-ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.8) 100%);
	background: 	 -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.8) 100%);
	background: 		linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 65%,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#cc000000', GradientType = 0);

}

@media (max-width: $sm) {

	.player .controls {

		height: $controls-height--little;

	}

}

.player .controls__wrap {

	margin: $controls-margins;

}

@media (max-width: $sm) {

	.player .controls__wrap {

		margin: $controls-margins--little;

	}

}