
/* ICON
   ============================= */

.player .icon {
	
	float: right;

	width: $icon-size;
	height: $icon-size;
	padding: $icon-padding $icon-padding;

	background-size: $icon-size $icon-size;
	background-position: $icon-padding $icon-padding;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0;

	@include transition(opacity 0.8s);

	-webkit-tap-highlight-color: transparentize(white, .8);

}

.player .icon--settings {

	background-image: url(../assets/images/player/settings.png);

}

.player .icon--fullscreen {

	background-image: url(../assets/images/player/fullscreen.png);
	background-size: $icon-size * 3 $icon-size;

}

.player.fullscreen .icon--fullscreen {

	background-position: ($icon-padding - $icon-size * 2) $icon-padding;

}

@media (max-width: $sm) {

	.player .icon {

		top: ($controls-height - $icon-size) / 3 - $icon-padding--little;
		right: ($controls-height - $icon-size) / 3 - $icon-padding--little;

		padding: $icon-padding--little $icon-padding--little;

		background-position: $icon-padding--little $icon-padding--little;
		
	}

}

.player.show-settings .icon {

	opacity: 1;

	@include transition(opacity 0.2s);

}