
/* PLAY PAUSE
   ============================= */

.player .play-pause {

	position: absolute;
	top: 50%;
	left: 50%;

	width: $icon-size--big;
	height: $icon-size--big;
	margin-left: -$icon-size--big / 2;
	margin-top: -$icon-size--big / 2;

	background: url(../assets/images/player/play-pause.png);
	background-size: $icon-size--big * 2 $icon-size--big;
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0;

	@include transition(opacity 0.8s);

}

.player.show-settings .play-pause {

	opacity: 1;

	@include transition(opacity 0.2s);

}

.player.playing .play-pause {

	background-position: -$icon-size--big 0;

}