
/* PLAY PAUSE
   ============================= */

.player .play-pause {

	position: absolute;
	top: 50%;
	left: 50%;

	width: $icon-size--big;
	height: $icon-size--big;
	margin-left: -$icon-size--big / 2;
	margin-top: -$icon-size--big / 2;

	background: url(../assets/images/player/play-pause.png);
	background-size: $icon-size--big * 2 $icon-size--big;
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0;

	@include transition(opacity 0.8s);

	-webkit-tap-highlight-color: transparent;

}

.player .play-pause--svg {

	background: none;

}

@media (max-width: $sm) {

	.player .play-pause {

		width: $icon-size--big--little;
		height: $icon-size--big--little;
		margin-left: -$icon-size--big--little / 2;
		margin-top: -$icon-size--big--little / 2;

		background-size: $icon-size--big--little * 2 $icon-size--big--little;
		
	}

}

@media (max-width: $xs) {

	.player .play-pause {

		width: $icon-size--big--littttle;
		height: $icon-size--big--littttle;
		margin-left: -$icon-size--big--littttle / 2;
		margin-top: -$icon-size--big--littttle / 2;

		background-size: $icon-size--big--littttle * 2 $icon-size--big--littttle;
		
	}

}

.player.show-settings .play-pause {

	opacity: 1;

	@include transition(opacity 0.2s);

}

.player.playing .play-pause {

	background-position: -$icon-size--big 0;

}

@media (max-width: $sm) {

	.player.playing .play-pause {

		background-position: -$icon-size--big--little 0;

	}

}
