
/* PLAYER QUALITY
   ============================= */

.player .qualitys {

	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	display: none;
	height: $quality-size;

	opacity: 0;
	cursor: pointer;
	text-align: center;

	@include transition(opacity .5s);

}

.player.show-qualitys .qualitys {

	opacity: 1;

	@include transition(opacity .2s);

}

.player .qualitys .quality {

	display: inline-block;
	width: $quality-size * 2;
	height: $quality-size;
	margin: -$quality-size / 2 ($quality-size / 2);

	cursor: pointer;
	font-family: sans-serif;
	font-size: $quality-size;
	color: white;
	text-align: center;
	line-height: 1;
	text-shadow: 0 0 16px transparentize(black, .4);

	-webkit-tap-highlight-color: transparent;

}

.player .qualitys .quality--svg {

	background: none;

}

@media (max-width: $sm) {

	.player .qualitys .quality {

		width: $quality-size--little * 1.5;
		height: $quality-size--little;
		margin: -$quality-size--little / 2 ($quality-size--little / 2);

		font-size: $quality-size--little;
		
	}

}

@media (max-width: $xs) {

	.player .qualitys .quality {

		width: $quality-size--littttle * 1.5;
		height: $quality-size--littttle;
		margin: -$quality-size--littttle / 2 ($quality-size--littttle / 2);

		font-size: $quality-size--littttle;
		
	}

}

.player.playing .qualitys .quality {

	background-position: -$quality-size 0;

}

@media (max-width: $sm) {

	.player.playing .qualitys .quality {

		background-position: -$quality-size--little 0;

	}

}
