
/* VARIABLES
   ----------------------------- */

@import "variables/colors";
@import "variables/sizes";

/* MIXINS
   ----------------------------- */

@import "mixins/background-cover";
@import "mixins/fonts";
@import "mixins/position";

/* COMPONENTS
   ----------------------------- */

@import "../components/Control/control.css"; 
@import "../components/Fullscreen/fullscreen.css"; 
@import "../components/Player/player.css"; 
@import "../components/PlayPause/playpause.css"; 
@import "../components/Quality/quality.css"; 
@import "../components/Redirecting/redirecting.css"; 
@import "../components/Time/time.css"; 
@import "../components/TimeLine/time-line.css"; 
