.player__control {

	p: a auto 0 0 0;
	z-index: 2;

	d: f;
	height: $control-height;

	bg: color($gray a(60%));

	transition: .1s;

}

.player__control--hide {

	opacity: 0;
	transform: translateY(6px);
	transition: .4s;

}