
/* SIZES
   ============================= */


$lt: 360px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;


$controls-margins:         48px;
$controls-margins--little: 28px;

$controls-margin-bottom:         42px;
$controls-margin-bottom--little: 16px;

$controls-height:         92px;
$controls-height--little: 62px;


$icon-size: 30px;
$icon-padding:         16px;
$icon-padding--little:  8px;

$icon-size--big:           64px;
$icon-size--big--little:   52px;
$icon-size--big--littttle: 42px;


$quality-size:           96px;
$quality-size--little:    86px;
$quality-size--littttle:  48px;


$progress-bar-height:       4px;
$progress-bar-height--big: 12px;

$progress-bar__current-size:      10px;
$progress-bar__current-size--big: 18px;


$volume-slide-height:       4px;
$volume-slide-height--big: 12px;

$volume-slide__dot-size:      10px;
$volume-slide__dot-size--big: 18px;