
/* SIZES
   ============================= */


$controls-margins: 48px;
$controls-margin-bottom: 42px;
$controls-height: 92px;

$icon-size: 28px;
$icon-size--big: 64px;
$icon-padding: 18px;

$progress-bar-height: 4px;
$progress-bar-height--big: 12px;