.player {

	p: r;

	w: 100%;
	max-width: 1280px;
	h: 0;
	margin: auto;

	bg: black;
	color: white;
	overflow: hidden;
	user-select: none;

	@mixin background-cover;

}

.player video {

	p: a;

	size: 100%;

}

.player--fullscreen {

	size: 100%;
	max-width: 100%;

}