
/* DEFAULT STYLE OF THE PLAYER
   ============================= */

.player {

	position: relative;
	float: left;

	width: 100%;
	margin: 0;
	padding: 0;

	background: black;

	video {

		width: 100%;
		height: auto;
		
	}
	
	@include user-select;

}